{% extends 'base.html' %} {% block title %}Depth Estimation{% endblock %} {%
block page_title %}Depth Estimation{% endblock %}

<!-- Description of the page -->
{% block description_h2 %}Visualize Depth with Precision{% endblock %} {% block
description_p %}
<p>
  Dive into the world of Depth Estimation, where visual content comes to life
  with enhanced depth perception. This advanced image processing model from
  Intel allows you to estimate depth seamlessly. Whether exploring the
  spatial intricacies of an image or enhancing visual understanding, this Depth
  Estimation tool provides a powerful solution. Simply submit an image URL, and
  watch as the model generate both the input image and its corresponding depth
  map. Experience a new dimension of visual analysis and uncover hidden details
  within your images.
</p>
{% endblock %} {%block content %}

<!-- Form to accept image url -->
<form action="/depth_estimation" method="POST" class="depth-form">
  <input type="text" name="image_url" placeholder="Enter Image URL" required />
  <input type="submit" value="Submit" />
</form>

<!-- Loading section -->
{% include 'loading_section.html' %}

<!-- Display the result = {input_image (base64), depth_image (base64)} -->
{% if result %}
<div class="depth-result">
  <h2>Input Image</h2>
  <img src="data:image/png;base64,{{ result.input_image }}" alt="Input Image" />
  <h2>Depth Image</h2>
  <img src="data:image/png;base64,{{ result.depth_image }}" alt="Depth Image" />

  <p class="time">Elapsed Time: {{ result.elapsed_time }} seconds</p>
</div>
{% endif %}

<!-- Back to Home button -->
{% include 'back_to_home.html' %}

<script>
  // Get the form, loading section
  const form = document.querySelector(".depth-form");
  const loading = document.getElementById("loading");

  // Hide loading section when page is loaded
  window.addEventListener("load", () => {
    loading.style.display = "none";
  });

  // Show loading section when form is submitted
  form.addEventListener("submit", () => {
    loading.style.display = "flex";
  });
</script>

{% endblock %}
