{% extends 'base.html' %} {% block page_title %}Hugging Face Playground{%
endblock %}

<!-- Description of the page -->
{% block description_h2 %}Welcome to the Hugging Face Playground{% endblock %}
{% block description_p %}Explore the possibilities with our Flask-based web
application, designed to effortlessly test a diverse range of cutting-edge NLP
and Computer Vision models curated by Hugging Face. Immerse yourself in the
world of AI experimentation as you try out models for sentiment analysis, text
summarization, depth estimation, and object detection, all in one convenient
space. Unleash the power of Hugging Face's innovative models and elevate your
experience in the realm of natural language processing and computer vision. The
future of AI experimentation starts here!{% endblock %} {% block content %}
<!-- Links to different pages -->
<div class="links-container">
  <a href="{{ url_for('sentiment_analysis') }}" class="link-card">
    <p class="link">Sentiment Analysis</p>
  </a>

  <a href="{{ url_for('text_summarization') }}" class="link-card">
    <p class="link">Text Summarization</p>
  </a>

  <a href="{{ url_for('depth_estimation') }}" class="link-card">
    <p class="link">Depth Estimation</p>
  </a>

  <a href="{{ url_for('object_detection') }}" class="link-card">
    <p class="link">Object Detection</p>
  </a>

  <a href="{{ url_for('classify_image') }}" class="link-card">
    <p class="link">Image Classification</p>
  </a>
</div>
{% endblock %}
