{% extends 'base.html' %} {% block title %}Object Detection{% endblock %} {%
block page_title %}Object Detection{% endblock %} {%block content %}

<!-- Form to accept image url -->
<form action="/object_detection" method="POST" class="object-detection-form">
  <input type="text" name="image_url" placeholder="Enter Image URL" required />
  <input type="submit" value="Submit" />
</form>

<!-- Loading section -->
{% include 'loading_section.html' %}

<!-- Display the result -->
{% if result %}
<div class="object-detection-result">
  <!-- Display Image -->
  <h2>Input Image</h2>
  <img src="data:image/png;base64,{{ result.image }}" alt="Input Image" />
  <img src="data:image/png;base64,{{ result.box_image }}" alt="Output Image" />

  <!-- Display Object Detection Results -->
  <h2>Object Detection Results</h2>
  <table border="1">
    <tr>
      <th>Object</th>
      <th>Confidence</th>
      <th>Location</th>
    </tr>
    {% for item in result.list %}
    <tr>
      <td>{{ item.Object }}</td>
      <td>{{ item.Confidence }}</td>
      <td>{{ item.Location }}</td>
    </tr>
    {% endfor %}
  </table>

  <!-- Display Elapsed Time -->
  <p class="time">Elapsed Time: {{ result.elapsed_time }} seconds</p>
</div>
{% endif %}

<script>
  // Get the form, loading section
  const form = document.querySelector(".object-detection-form");
  const loading = document.getElementById("loading");

  // Hide loading section when page is loaded
  window.addEventListener("load", () => {
    loading.style.display = "none";
  });

  // Show loading section when form is submitted
  form.addEventListener("submit", () => {
    loading.style.display = "flex";
  });
</script>

{% endblock %}
