{% extends 'base.html' %} {% block title %}Sentiment Analysis{% endblock %} {%
block page_title %}Sentiment Analysis{% endblock %} {%block content %}

<!-- Form to accept a sentence -->
<form action="/sentiment_analysis" method="POST" class="sentiment-input-form">
  <input type="text" name="sentence" placeholder="Enter a sentence" required />
  <input type="submit" value="Submit" />
</form>

<!-- Loading section -->
{% include 'loading_section.html' %}

<!-- Display result = {'label': '...', 'score': ...} -->
{% if result %}
<div class="sentiment-result">
  <table>
    <tr>
      <th>Sentence</th>
      <th>Label</th>
      <th>Score</th>
    </tr>
    <tr>
      <td>{{ result['sentence'] }}</td>
      <td>{{ result['label'] }}</td>
      <td>{{ result['score'] }}</td>
    </tr>
  </table>

  <p class="time">Elapsed Time: {{ result['elapsed_time'] }} seconds</p>
</div>
{% endif %}

<!-- Back to Home button -->
{% include 'back_to_home.html' %}

<script>
  // Get the form, loading section
  const form = document.querySelector(".sentiment-input-form");
  const loading = document.getElementById("loading");

  // Hide loading section when page is loaded
  window.addEventListener("load", () => {
    loading.style.display = "none";
  });

  // Show loading section when form is submitted
  form.addEventListener("submit", () => {
    loading.style.display = "flex";
  });
</script>

{% endblock %}
